.container {
    display: flex;
    align-items: center;
    margin:1rem;
    border: 2px solid rgb(173, 7, 63);
    border-radius: 20px;
    padding: 0.5rem;
    width: 25%;
}
.text{
    font-size: 1.2rem;
    padding-left: 2rem;
    
}
.span{
    font-weight: 800;
}
.img{
    width: 20%;
    height: 100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
}

@media screen and (max-width: 768px)  {
    .container{
        width:50%
    }
    
}
@media screen and (max-width: 992px)  {
    .container{
        width:35%
    }
    
}