* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  min-height: 78.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 122, 163);
}
